//Colors
$indigo : #4f45e5;
$white: #ffffff;
$gray: #ddd;
$blue : #1A4E9D;
$green : #239B56;
//
$color-box-1 : #0f9bc0;
$color-box-2 : rgba(34, 65, 154, .8);
$color-box-3 : #57ccfd;
$color-box-4 : #e660e3;
$color-box-5 : #f07306;
$color-box-6 : #9b1308;
$color-box-7 : #de8b3e;


